<section id="detail" class="mainbar" ng-controller="timeEntry as vm">
    <form class="form-horizontal">
        <fieldset class="col-sm-12 col-lg-12 col-md-12">
            <div class="form-group">
                <div class="panel panel-primary" ng-repeat="dayEntry in vm.timeEntries | orderBy:vm.daysOrderBy">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ dayEntry.dateDisplay }}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th width="15%">Project</th>
                                    <th width="15%">Task</th>
                                    <th width="16%">Start</th>
                                    <th width="16%">End</th>
                                    <th width="10%">Time</th>
                                    <th width="20%">Comment</th>
                                    <th width="10%">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="$first">
                                    <td>
                                        <select class="form-control" ng-model="vm.blankTimeEntry.Project" ng-options="project.Name for project in vm.projects" ng-change="vm.updateTasks()">
                                            <option value="">--Select One--</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" ng-disabled="vm.blankTimeEntry.Tasks.length <= 1" ng-model="vm.blankTimeEntry.Task" ng-options="task.Name for task in vm.blankTimeEntry.Tasks">
                                            <option value="">--Select One--</option>
                                        </select>
                                    </td>
                                    <td><input class="form-control" type="dateTimeLocal" ng-model="vm.blankTimeEntry.TimeIn"></input></td>
                                    <td><input class="form-control" type="dateTimeLocal" ng-model="vm.blankTimeEntry.TimeOut"></input></td>
                                    <td><input class="form-control" type="number" disabled="disabled" ng-model="vm.blankTimeEntry.Hours" /></td>
                                    <td><input class="form-control" ng-model="vm.blankTimeEntry.Comment" /></td>
                                    <td><button type="button" class="btn btn-success" ng-disabled="vm.blankTimeEntry.Task === undefined" ng-click="vm.startWork()">Start Work</button></td>
                                </tr>
                                <tr ng-repeat="te in dayEntry.data">
                                    <td ng-bind="te.ProjectName" />
                                    <td ng-bind="te.ProjectTaskName" />
                                    <td ng-bind="te.TimeIn" />
                                    <td ng-bind="te.TimeOut" />
                                    <td ng-bind="te.TotalTime" />
                                    <td ng-bind="te.Comment" />
                                    <td><button type="button" class="btn btn-danger" ng-show="te.TimeOut == undefined" ng-click="vm.stopWork(te)">Stop Work</button></td>
                                </tr>
                                <tr>
                                    <td/>
                                    <td/>
                                    <td/>
                                    <td/>
                                    <td>{{ vm.totalDay(dayEntry.data) }}</td>
                                    <td/>
                                    <td/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</section>